<!-- <div style="padding-top: 25px;">
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</div> -->
<div class="py-4">
    <div class="row px-3">
        <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2020. All rights reserved.</small
      >
      <div class="social-contact ml-4 ml-sm-auto">
        <a href="#"><span class="fab fa-facebook mr-4 text-sm"></span></a>
        <a href="#"><span class="fab fa-google mr-4 text-sm"></span></a>
        <a href="#"><span class="fab fa-linkedin mr-4 text-sm"></span></a>
        <a href="#"><span class="fab fa-twitter mr-4 mr-sm-5 text-sm"></span></a>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>
</body>
</html>