<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    
    <div>
        <nav class="navbar navbar-expand navbar-dark navs">
            <div class="navbar-nav">
                <a class="nav-item nav-link" onclick="openNav()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <a class="navbar-brand" href="#"><img src="/images/logo.png" class="logo" alt="" /></a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav m-auto">
                    <a class="nav-item nav-link" href="#">Dashboard</a>
                </div>
                <div class="navbar-nav">
                    <% if(!currentUser){ %>
                    <a class="nav-item nav-link" href="/register">Sign Up!</a>
                    <a class="nav-item nav-link" href="/login">Login </a>
                    <% }else{  %>
                    <a class="nav-item nav-link" href="/logout">Logout <img src="/images/logout.png" alt=""></a>
                    <%  } %>
                </div>
            </div>
        </nav>
    </div>
</body>