<div class="col-lg-2 m-0 p-0 d-none d-lg-block">
    <nav class="side-nav pt-5" role="navigation">
        <div id="navbar">
            <ul class="nav flex-column nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/login"><img src="/images/dashboard.png" /> Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/publication/new"><img src="/images/content-writing.png" /> Create Publication</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/publication"><img src="/images/binocular.png" /> View Publication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/studpub/new"><img src="/images/content-writing.png" /> Create Student Publication
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/studpub"><img src="/images/binocular.png" /> View Student Publication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fundprj/new"><img src="/images/cheque.png" /> Create Funded Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fundprj"><img src="/images/search.png" /> View Funded Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/settarget/new"><img src="/images/target.png" /> Set Target</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/profile/edit"> Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: red" href="https://forms.gle/1QpTLqc24piYUgK36" target="_blank"><img src="/images/no-bugs.png" /> Report Bug</a>
                </li>
            </ul>
        </div>
    </nav>
</div>