<div class="col-md-2">
    <nav class="navbar side-nav">
        <div id="navbar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/settarget/new">Set Target</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/publication/new">Create Publication</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/studpub">Create Student Publication</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/publication">View Publication</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="fundprj">Funded Project</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">View Student Publication</a>
                </li>
            </ul>
        </div>

    </nav>
</div>