<div class="col-md-2">
    <nav class="navbar side-nav">
        <div id="navbar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Set Targer</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Create Publication</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Create Student Publication</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">View Publication</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Funded Project</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">View Student Publication</a>
                </li>
            </ul>
        </div>

    </nav>
</div>