<div class="col-lg-2 d-none d-lg-block ">
    <nav class="navbar side-nav">
        <div id="navbar">
            <ul class="nav flex-column">

                <li class="nav-item disabled">
                    <a class="nav-item nav-link" href="/login">Dashboard</a>
                </li>
                <li class="nav-item disabled">

                    <a class="nav-link disabled" href="/settarget/new">Set Target</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/publication/new">Create Publication</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link disabled" href="/studpub">Create Student Publication</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/publication">View Publication</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link disabled" href="fundprj">Funded Project</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link disabled" href="#">View Student Publication</a>
                </li>
            </ul>
        </div>

    </nav>
</div>