<div class="col-lg-2 m-0 p-0 d-none d-lg-block">
    <nav class="side-nav pt-5" role="navigation">
        <div id="navbar">
            <ul class="nav flex-column nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fas fa-home"></i> Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/publication/new"><i class="fas fa-edit"></i> Create
                        Publication</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/publication"><i class="fas fa-binoculars"></i> View Publication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/studpub/new"><i class="fas fa-user-edit"></i> Create Student
                        Publication
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/studpub"><i class="fas fa-user-graduate"></i> View Student Publication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fundprj/new"><i class="fas fa-rupee-sign"></i> Create Funded Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fundprj"><i class="fas fa-search-dollar"></i> View Funded Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/settarget/new"><i class="fas fa-bullseye"></i> Set Target</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/profile/edit"><i class="fas fa-id-badge"></i> Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: red" href="https://forms.gle/1QpTLqc24piYUgK36"
                        target="_blank"><i class="fas fa-bug"></i> Report Bug</a>
                </li>
            </ul>
        </div>
    </nav>
</div>