<%- include("partials/header.ejs") %>
<div class="row">
  <%- include("partials/navbar.ejs") %>
  <div class="col-lg-10 left">
    <div class="d-flex justify-content-center">
      <img src="/images/profile_pic.png" alt="person" class="img-fluid" />
    </div>
    <div>
      <p class="d-flex justify-content-center font-weight-bold" id="Name">
        Name
      </p>
      <p
        class="d-flex justify-content-center font-weight-light"
        id="designation"
      >
        Designation
      </p>
    </div>

    <div class="info text-left">
      <div>
        <p><span class="genre">University Identity Number</span></p>
        <p><span id="GU_id">122343253532123</span></p>
      </div>
      <hr />
      <div>
        <p><span class="genre">School</span></p>
        <p>
          <span id="school_name"
            >School of Computer Science and Engineering</span
          >
        </p>
      </div>
      <hr />
      <div>
        <p><span class="genre">Reward Points</span></p>
        <p><span id="r_p">44</span></p>
      </div>
      <hr />
      <div>
        <p><span class="genre">Web of Science</span></p>
        <p><span id="w_o_s_id">122343253532123</span></p>
      </div>
      <hr />
      <div>
        <p><span class="genre">Scorpus ID</span></p>
        <p><span id="sc_id">122343253532123</span></p>
      </div>
      <hr />
      <div>
        <p><span class="genre">Google Scholar ID</span></p>
        <p><span id="g_sc_id">122343253532123</span></p>
      </div>
      <hr />
      <div>
        <p><span class="genre">Orchid ID</span></p>
        <p><span id="or_id">122343253532123</span></p>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
