<%- include("partials/header.ejs") %>
<div class="row">
  <%- include("partials/navbar.ejs") %>
  <div class="col-md-8 left">
    <p class="heading-pg">Set Target</p>

    <form action="/research" method="POST">
      <!-- <input type="text" name="Title" placeholder="Title">
                            <input type="text" name="Author" placeholder="Author">
                            <input type="text" name="GScholarId" placeholder="Google Scholar Id">
                            <input type="text" name="ScopusId" placeholder="Scopus Id">
                            <input type="text" name="url" placeholder="URL to"> -->

      <div class="form-group col-md-8">
        <label for="category">Category</label>
        <select
          class="custom-select"
          name="category_set_trgt"
          placeholder="category"
        >
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="form-group col-md-8">
        <label for="title_of_paper">Title of the Publication/Conference</label>
        <input
          type="text"
          class="form-control"
          name="title_set_trgt"
          placeholder="Title of the Book / Conference / Patent / Journal"
        />
      </div>
      <div class="form-group col-md-8">
        <label for="title_of_paper">Indexing</label>
        <input
          type="text"
          class="form-control"
          name="indexing_set_trgt"
          placeholder="Indexing"
        />
      </div>
      <div class="form-group col-md-8">
        <label for="Achievement Date">Achievement Date</label>
        <br />
        <input
          class="form-control col-md-2"
          id="date"
          name="achievement_date_set_trgt"
          placeholder="MM/DD/YYY"
          type="date"
        />
      </div>

      <div class="col-md-8">
        <button class="btn btn-danger">Add Another!</button>
        <button class="btn btn-primary">Submit!</button>
      </div>
    </form>
  </div>
  <%- include("partials/profile.ejs") %>
</div>
<%- include("partials/footer.ejs") %>
